-r src/requirements.txt         # installs the runtime dependencies as well

# General tooling
pre-commit                      # manage git hooks
pyupgrade                       # automatically upgrade old-style Python syntax to newer style

# Linting and style checking/fixing
pylint                          # linter
flake8                          # another linter
flake8-pytest-style             # plugin to enforce some rules around tests
pep8-naming                     # checks code against PEP8 naming conventions
pyre-check                      # type checker
isort                           # puts imports into a consistent ordwe
black                           # opinionated code style fixer
autoflake                       # removes unused imports

# Testing
pytest                          # testing framework
pytest-cov                      # code coverage support for tests
pytest-gitignore                # exclude files ignored by .gitignore from tests
mutmut                          # mutation testing

# Security
bandit                          # static analysis for insecure code
pip-audit                       # audits packages for vulnerabilities

# Integration testing
requests                        # makes HTTP requests

# CDK
aws-cdk-lib                     # main CDK package
aws-cdk.aws-lambda-python-alpha # experimental higher-level construct for Python lambdas (needs Docker)
constructs>=10.0.0,<11.0.0      # construct library used by CDK
