-r requirements.txt

# General tooling
pre-commit
pyupgrade

# Linting and style checking
pylint
flake8
flake8-pytest-style
mypy
isort
black
autoflake

# Testing
pytest
pytest-cov
pytest-gitignore
mutmut

# Security
bandit
