-r src/requirements.txt

# General tooling
pre-commit
pyupgrade

# Linting and style checking
pylint
flake8
flake8-pytest-style
flake8-implicit-str-concat
pep8-naming
pyre-check
isort
black
autoflake

# Testing
pytest
pytest-cov
pytest-gitignore
mutmut

# Security
bandit
pip-audit

# CDK
aws-cdk-lib
aws-cdk.aws-lambda-python-alpha
constructs>=10.0.0,<11.0.0
